# Logs
pnpm-debug.log*
logs
*.log

# Dependencies
node_modules

# Build artifacts
dist
benchmarks/*.js
migrations/*.js
knexfile.js

# Coverage
coverage
*.lcov
.nyc_output

# Sensitive configuration files
src/config.yml

# WIP files
.github/workflows/build-docker-image.yml